@font-face {
  font-family: Aquire;
  src: url(fonts/Aquire-BW0ox.otf);
}

@font-face {
  font-family: Prompt;
  src: url(fonts/Prompt-Regular.ttf);
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Aquire, sans-serif;

  color: rgb(229, 226, 226);

  display: flex;
}

.left-main {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;

  background-image: url(imgs/valentin-beauvais-yVUQlyRlJSw-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.left-header {
  display: flex;
  margin-top: 220px;
  width: 400px;
  align-self: center;
  align-items: center;
  text-align: left;

}

.name {
  flex-wrap: wrap;
}

#logo {
  height: 100px;
  width: 100px;
}

.right-main {
  font-family: Prompt, sans-serif;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  flex: 1;

  background-color: #0c0c0c;
}

.right-header {
  width: 650px;
  height: 20%;
  padding: 50px;

}

.right-header p:last-child {
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;

  background-color: #280f31;
  box-shadow: 0px 0px 8px #280f31;
}

.sign-up-form {
  display: flex;
  gap: 60px;
}

.form-container h3 {
  margin-bottom: 20px;
}

.form-col {
  width: 250px;
  display: flex;
  flex-direction: column;

  font-size: 16px;
}

.form-col input[type="text"],
.form-col input[type="email"],
.form-col input[type="tel"] {
  margin-bottom: 24px;
  padding: 4px;
  width: 250px;

  border-radius: 4px;
  border: 2px solid #E5E7EB;

  outline: none;
}

.form-col input[type="text"]:focus {
  border: 2px solid rgb(79, 199, 255);
  box-shadow: 0px 0px 5px rgb(79, 199, 255);
  outline: none;
}

.right-footer {
  height: 20%;
  padding: 50px;

  font-size: 12px;
}

#create-account {
  font-weight: 700;
  font-size: 24px;

  padding: 15px 35px;
  margin-bottom: 15px;

  color: rgb(146, 54, 189);
  background-color: #0c0c0c;
  
  border: 2px rgb(146, 54, 189) solid;
  border-radius: 4px;
}

.error {
  margin-bottom: 24px;
  padding: 4px;
  width: 250px;

  border-radius: 4px;
  border: 2px solid rgb(255, 31, 31);

  outline: none;
}

#create-account:hover {
  color: #0c0c0c;
  background-color: rgb(146, 54, 189);
}


